{% load static %}
<html>
<head>
    <title>{% block title %}Default title{% endblock %}</title>
</head>
<body>
<ul>

    <p><a href="/project/{{user.id}}/create" > Create new Project</a></p>
    <h1>My projects:</h1>
    {% for project in projects %}
    <li><a href=/project/x/{{project.id}}>{{ project.title }}</a>  </li>
    <li>{{ project.donations }}</li>
    <a href="/project/{{project.id}}/delete" onclick="return confirm('Are you sure you want to delete this?')">Cancel project</a>
    <a href="/project/{{project.id}}/report">Report project</a>

    <hr>
    {% endfor %}
</ul>
</body>
</html>