<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>project</title>
</head>
<body>

<ul>
    <li>Title: {{ item.title }}</li>
    <li>Description: {{ item.description }}</li>
    <li>Category: {{ item.category }}</li>
    <li>Target: {{ item.target }}</li>
    <li>Start Date: {{ item.start_date }}</li>
    <li>End Date: {{ item.end_date }}</li>
    <li>Creator: {{ item.creator }}</li>
    <!--    new-->
    <!--    {% for image in images %}-->
    <!--    &lt;!&ndash;    <img src="{{ MEDIA_URL }}{{ user.picture }}" alt="...">&ndash;&gt;-->
    <!--    <li><img src="{{ MEDIA_URL }}{{ image.pic.url }}" alt="..."></li>-->
    <!--    <li>test: {{image.pic}}</li>-->
    <!--    {% endfor %}-->
    <!--    -->
    {% for image in item.pic_set.all %}
    <img src="{{ MEDIA_URL}} {{ image }}" />
    <li>{{image.project_id}}</li>
    {% endfor %}
    <!--    end new-->

    <a href="/project/{{item.id}}/tag">Add project tag</a>


    <h2> old Comments: </h2>
    {% for comment in comments %}
    <li>{{ comment.comment_body }}</li>
    <li>{{ comment.commenter }}</li>
    {% endfor %}
    <h2> Add New Comment2: </h2>
    <form method="POST"  > {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</ul>
</body>
</html>