
{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Profile</h1>
    <p>Username: {{ user }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>DOB: {{ user.DOB }}</p>
    <p>FB: {{ user.FB }}</p>
    <p>Counrtry: {{ user.country }}</p>
    <p>Phone: {{ user.phone }}</p>

     <!--<p>Phone: {{ user.userprofile.phone }}</p>-->
    <!--<p>City: {{ user.userprofile.city }}</p>-->
    <!--<p>Website: {{ user.userprofile.website }}</p>-->
    <!--{% if user.userprofile.image %}-->
    <!--<img src="{{ user.userprofile.image.url }}" width="240">-->
    <!--{% endif %}-->
</div>
<p><a href="{% url 'logout' %}">logout</a></p>
<p><a href="edit/{{user.id}}">Update</a></p>
<p><a href="{{user.id}}/delete">delete account</a></p>

{% endblock %}
