<html>

<title>Profile</title>

<div class="container">
    <h1>Profile</h1>
    <p>Username: {{ user }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>DOB: {{ user.DOB }}</p>
    <p>FB: {{ user.FB }}</p>
    <p>Counrtry: {{ user.country }}</p>
    <p>Phone: {{ user.phone }}</p>
    <img src="{{ MEDIA_URL }}{{ user.picture }}" alt="...">
</div>
<p><a href="/project/{{user.id}}/projects"> MyProjects</a></p>
<p><a href="/project/{{user.id}}/donations"> MyDonations</a></p>
<p><a href="/project/{{user.id}}/create"> Create new Project</a></p>
<p><a href="{% url 'logout' %}">logout</a></p>
<p><a href="edit/{{user.id}}">Update</a></p>
<p><a href="delete/{{user.id}}" onclick="return confirm('Are you sure you want to delete this?')">delete account</a>

</p>
<p><a href="/project/{{user.id}}/projects">MyProjects</a></p>

</html>
<!-- <p><a href="{{user.id}}/delete">delete account</a></p> -->
<p><a href="{{user.id}}/donation">my donations</a></p>
<p><a href="delete/{{user.id}}" onclick="return confirm('Are you sure you want to delete this?')">delete account</a>

</p>
</html>

